.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
}

.page-holder {
  padding-bottom: 20px;
}

.section-title {
  text-align: center;
  color: $primary;
  margin: 0 0 50px;
  padding: 0;
}

.form-section {
  padding: 60px 0 100px;
}

.form-holder {
  max-width: 400px;
  margin: 0 auto;

  &-inputs {
    margin: 0 0 50px;
  }
}

.avatar-upload {
  margin: 0 auto 50px;
  width: 100px;
  height: 100px;
  display: block;
  cursor: pointer;
  color: $black;
  font-size: 14px;
  user-select: none;
  border: 1px solid $black;
  padding: 4px;
  border-radius: 50%;
  position: relative;
  
  &:hover {
    color: $white;
    border: 1px solid $white;
  }
}
