.header {
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  a {
    color: $primary;
    font-size: 20px;

    @include media('>=tablet') {
      font-size: 28px;
    }

    span {
      color: $secondary;
    }
  }
}

.join-from {
  .sign-up-form,
  .sign-in-form {
    display: none;
    font-size: 14px;
    color: $secondary;
    user-select: none;

    &.active {
      display: block;
    }
  }

  a {
    @include transition (border-bottom);
    color: $primary;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $primary;
    }
  }
}
