html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  background: $gradient;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

button, 
select, 
input, 
textarea {
  font-family: inherit;
  font-size: inherit;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
