// Color system
$white: #fafafa;
$black: #030303;
$red: rgb(253, 83, 83);

$gradient: linear-gradient(90deg, #63258e 0%, #1557d2 100%);

$primary: $white;
$secondary: $black;

// Font/typography
$font-family-primary: 'Nexa', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$base-font-path: '../fonts';

$font-weight-thin: 100;
$font-weight-ulight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;


// link reset
$link-color: $secondary;
$link-decoration: none;

// border radius
$rounded-circle: 50%;

// transition
$animation-speed: 0.3s;
$transition-duration-base: ease;

// icomoon variables
$icon-folder: '\e934';
$icon-eye: '\e9ce';
$icon-eye-blocked: '\e9d1';
